*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    background-color: #D9E1CC;
}

body{
    background-color: #191919;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}